### USDA Quick Stats API Example
https://quickstats.nass.usda.gov/api

Import from the module created specifically to interact with the USDA Quick Stats api. The package is stored in the /utils folder. This automatically gets the keys saved in the keys.db file in the /data folder.

In [1]:
from utils.request import USDA

Connecting to keys.db
Retrieved Keys
Connection to keys.db closed

In [2]:
#Instantiate the USDA class. 
usda = USDA()

Below is an example of a query for the USDA api(see reference link in title). These are parameters that are passed to the api. The query is stored in a variable. 


I automatically pass the keys so no need for us to worry.

In [3]:
#API Query for total crop production by State
production_total = {
        'source_desc':'CENSUS',
        'sector_desc': 'CROPS',
        'group':'CROP TOTALS',
        'commodity_desc':'CROP TOTALS',
        'statisticcat_desc':'PRODUCTION',
        'year':2017,
        'format':'JSON'
        }

now call the **get_data** function that is stored in the USDA class (this is known as a class method). Pass the **production_total** as an argument. THERE IS A 50K Limit.

In [5]:
response = usda.get_data(production_total)

Passing key to query params..
Connecting to http://quickstats.nass.usda.gov/api/api_GET/?
Success!

Thats it! The data is now stored in the **Response** variable. Here i am creating a clean df from the json data.

In [6]:
from pandas.io.json import json_normalize

In [9]:
data = json_normalize(response['data'])

In [10]:
data.head()

,asd_code,congr_district_code,prodn_practice_desc,source_desc,county_name,domain_desc,asd_desc,CV (%),county_code,reference_period_desc,...,end_code,state_name,state_ansi,domaincat_desc,region_desc,watershed_desc,zip_5,load_time,week_ending,freq_desc
0,60,,PRODUCTION CONTRACT,CENSUS,HOUSTON,TOTAL,WIREGRASS,0.4,069,YEAR,...,00,ALABAMA,01,NOT SPECIFIED,,,,2018-02-01 00:00:00,,ANNUAL
1,80,,PRODUCTION CONTRACT,CENSUS,YUMA,TOTAL,SOUTHERN,82.1,027,YEAR,...,00,ARIZONA,04,NOT SPECIFIED,,,,2018-02-01 00:00:00,,ANNUAL
2,60,,PRODUCTION CONTRACT,CENSUS,LONOKE,TOTAL,EAST CENTRAL,0.2,085,YEAR,...,00,ARKANSAS,05,NOT SPECIFIED,,,,2018-02-01 00:00:00,,ANNUAL
3,40,,PRODUCTION CONTRACT,CENSUS,SAN LUIS OBISPO,TOTAL,CENTRAL COAST,(L),079,YEAR,...,00,CALIFORNIA,06,NOT SPECIFIED,,,,2018-02-01 00:00:00,,ANNUAL
4,80,,PRODUCTION CONTRACT,CENSUS,RIVERSIDE,TOTAL,SOUTHERN CALIFORNIA,0.4,065,YEAR,...,00,CALIFORNIA,06,NOT SPECIFIED,,,,2018-02-01 00:00:00,,ANNUAL